.section-top {
    background-image: linear-gradient(to bottom right, #d0ebff, #e7f5ff9c);
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
}

.brand-logo {
    width: 4.2rem;
    align-self: center;
}

.nav-list, .logo-list{
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
    cursor: pointer;
}
.nav-list {
    color: #555;
    font-size: 16px;
}
.logo-list {
    width: 2.4rem;
    height: 2.4rem;
    color: #333;
    padding-right: 7.2rem;
    transition: all 1s;
}

.nav-list li:hover, .logo-list li:hover {
    color: #339bf0ac;
}

.section-hero{
    padding: 4.2rem 7.4rem;
    align-items: center;
}
.hero-text-box {
    padding: 32px;
}



.hero-img-box{
    padding: 24px;
}
.hero-img-box img {
    width: 120%;
}

.hero-testimonial{
    border-left: #339af0 solid 3px;
    padding:0  24px;
    margin-top: 64px;
}

.hero-testimonial-headings{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 48px;
    
}

.hero-testimonial-headings img {
    width: 38px;
    border-radius: 50%;
}

.hero-testimonial-text {
    color: #777;
    margin-top: 8px;
}

.section-showcase {
    padding: 54px ;
    margin-bottom: 32px;
}
.partner-logos {
    display: flex;
    align-items: center;
    gap: 150px;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 24px;
}

.partner-logos img {
    width: 14%;
    filter: grayscale(100%)
}

.partner-logos img:last-child {
    margin-right: -200px;
}

.x {
    color: #777;
}

.y {
    padding: 0 30%;
}

.cards {
    padding: 54px;
    align-items: flex-start;
}

.card {
    background-color: #f1f3f5;
    padding: 44px 44px 54px 44px;
    border-radius: 11px;


    position: relative;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.5s;
}

.card:hover {
    transform: translateY(50px);
}
.how-heading {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
}

.how-icon  {
    width: 24px;
    height: 24px;
    padding: 12px;
    border-radius: 50%;
    color: #fff;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .blue {
    background-color: #339af0;
}

.purple {
    background-color: #cc5de8;
}

.card-down {
    margin-top: 50%;
}

.card-down:hover {
    transform: translateY(-40px) !important;
}

.section-good{
    padding: 24px 64px 64px 64px;
}
.good-img-box{
    max-width: 100%;
}

.good-img-box img {
    width: 100%;
}
.good-text-box{
    padding: 32px;
    margin-right: 18px;
    align-self: center;
}

.made-in {
    padding: 64px;
}

.made-in-text-box{
    align-self: center;
}

.section-cta{
    margin: 54px;
    padding: 32px 28px;
    border-radius: 11px;
 background-image:    linear-gradient(to bottom right, #1971c2, #a5d8ff);
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cta-img-box{
    
}

.cta-img-box img {
    width: 100%;
    border-radius: 9px;
}
.cta-text-box{}

.form *{
    font-family: inherit;
    font-size: 18px;
}

.form label{
    color: #333;
    font-weight: 500;
}

.form input{
    padding: 8px 12px;
    border: none;
    background-color: #a5d8ff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.btn-cta {
    margin: 0;
    padding: 0 !important;
    border: none;
    color: #fff;
    background-color: #020b13;
}

.footer {
    padding: 24px 64px ;

}

.wa {
    text-decoration: none;
    color: #099268;
}

.contact {
    background-color: #d6336c;
    color: #fff;
    padding: 32px;
    border-radius: 9px;
    line-height: 1.4;
}